div#home {
  nav.navbar > div.container > div.collapse > ul.navbar-nav > li.nav-item {
    color: $dark !important;
  }

  nav.navbar > div.container > div.collapse > ul.navbar-nav > li.nav-item > a.nav-link {
    color: $dark !important;

    &:hover {
      color: $primary-hex !important;
    }
  }
  
  .search-icon {
    cursor: pointer;
  }

  img.img-movie {
    width: 10rem;
  }

  .title-hero-content::after {
    content: '';
    display: block;
    border: 1px solid $primary-hex;
    position: relative;
    top: .7rem;
    left: 1.7rem;
    width: 4rem;
  }

  .movie-wrap, .movie-wrap-upcoming {
    overflow-x: scroll;
  }

  .movie-wrap::-webkit-scrollbar, .movie-wrap-upcoming::-webkit-scrollbar {
    display: none;
  }

  .movie-wrap div.card {
    min-width: auto !important;
    border-radius: 8px;
    border: 2px solid #FFFFFF !important;
    background-color: transparent !important;
  }
   
  .movie-wrap-upcoming div.card {
    min-width: auto !important;
    background: #FFFFFF !important;
    border: 0.5px solid #f5f5f5 !important;
    border-radius: 8px;
    cursor: pointer;
  }

  .hero-upcoming > .container > .row + .row > .col-md-12 {
    min-width: auto !important;
  }

  .hero-upcoming > .container > .row + .row > .col-md-12::-webkit-scrollbar {
    display: none;
  }

  .hero-upcoming > .container > .row + .row > .col-md-12 > button {
    padding: .5rem 1.5rem;
  }

  .card {
    .card-subtitle {
      font-size: .8rem;
    }
  }

  .hero-foot > .container {
    border-radius: 8px;
    background-color: $light;
    box-shadow: 0px 16px 32px rgba(186, 186, 186, 0.3);
  }

  .text-hero-foot {
    color: #6E7191;
    font-size: .9rem;
  }

  .explore-items {
    font-size: .9rem;
  }

  input.form-control {
    box-shadow:none !important;
  }

  .text-hero-foot {
    width: 30%;
  }
}