div#register {
  div.hero {
    height: 100vh;
    background-color: white;
  
    section.container-fluid {
      height: 100%;
  
      .hero-head {
        height: 100%;
        
        .col-xl-7 {
          background: linear-gradient(
          $primary-rgba,
          $primary-rgba
          ), url('../assets/images/background.png') no-repeat center center;
          background-size: cover;
          height: 100%;
          .row {
            height: 100%;
  
            h3.text-white {
              letter-spacing: .1rem;
            }
          }
        }
  
        .col-xl-5 {
          height: 100%;
          display: flex;
          align-items: center;
        }
      }
    }
  }
  
  .container {
    width: 80%;
  }
  
  .form-title {
    color: #121212;
    font-weight: bold;
  }
  
  .form-subtitle {
    color: #AAAAAA;
  }
  
  .hero-progress {
    height: 3rem !important;
  }
  
  .btn-signup{
    background-color: $primary-hex;
    outline-color: $primary-hex !important;
    border-color: $primary-hex !important;
    box-shadow: none !important;
    height: 3.1rem;
    color: white;
    transition: opacity .5s;
    padding: 0;
  }
  
  .btn-signup:hover {
    background-color: $primary-hex;
    color: white;
    opacity: 0.5;
  }
  
  .text-label {
    color: $text-form;
  }
  
  .input-signup {
    height: 3.1rem;
    box-shadow:none !important;
    outline: none !important;
    padding-left: 1.3rem;
  }
  
  .input-signup:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: $primary-hex;
  }
  
  a.text-reset {
    letter-spacing: .1rem;
    color: $primary-hex !important;
  }
  
  .forgot-col {
    color: #AAAAAA;
  }
  
  ::placeholder {
    color:#A0A3BD !important;
  }
  
  .btn.btn-facebook, .btn.btn-google {
    position: relative;
    height: 3.1rem;
    color: #A0A3BD;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border: none;
    width: 100%;
    transition: opacity .5s;
  }
  
  .btn.btn-google:hover, .btn.btn-facebook:hover {
    background-color: white;
    color: #A0A3BD;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    opacity: 0.5;
  }
  
  img.img-facebook, img.img-google {
    position: absolute;
    left: 1rem;
  }
  
  div.img-eye {
    position: absolute;
    right: 1rem;
    cursor: pointer;
    bottom: .9rem;
  }
  
  hr.hr {
    width: 100%;
    color: #AAAAAA;
  }
  
  .text-or {
    color: #AAAAAA;
  }
  
  .bullets {
    display: inline-block;
    width: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 50%;
    border: 1px solid white;
    position: relative;
    z-index: 2;
  }
  
  .bullets-transparent {
    color: white;
    background-color: transparent;
  }
  
  .bullets-white {
    color: #290341;
    background-color: white;
  }
  
  .text-gray {
    color: #8692A6;
  }
  
  .text-description {
    color: #8694ac;
    width: 70%;
    word-wrap: break-word;
  }
  
  .hero-head > .col-xl-7 > .container {
    height: 100%;
  }
  
  .hero-head-row {
    height: 100%;
  }
  
  .img-tickitz {
    max-width: 15rem;
  }
  
  span.vertical-line {
    left: 1.1rem;
    top: 2.8rem;
    width: 1.4rem;
    height: .1rem;
    background-color: white;
    transform: rotate(90deg);
  }
  
  .form-check-input {
    border-color: $primary-hex;
  }
  
  .form-check-label {
    color: #696F79;
  }
  
  .form-check-input:checked {
    background-color: $primary-hex;
    color: white;
  }
  
  .form-check-input[type=checkbox] {
    border-radius: 0 !important;
  }
  
  .form-check-input:focus {
    border-color: $primary-hex;
    outline: 0;
    box-shadow: none;
  }
  .form-check-input[type=checkbox] {
    border-radius: 0.25em;
  }
  
  .form-check .form-check-input {
    float: left;
    margin-left: -1.5em;
  }
}