$primary-hex: #5F2EEA;
$primary-rgba: rgba(43, 21, 107, 0.8);
$text-form:#4E4B66;
$white: white;
$dark:#414141;

$theme-colors: (
  "primary":    $primary-hex,
  "light":      $white,
  "dark":       $dark,
  "info":       #F5F6F8
);